header {
    background-color: grey;
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 10px 0 10px 0;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 10px 0 10px 0;   
}
